.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 26px;
}

.btnsBlock {
    display: flex;
    gap: 10px;
}

.title {
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-family: 'Golos Text';
    margin: 16px 0;
    font-weight: 500;
    transition: 0.15s;
}

.title:hover {
    color: rgb(110, 110, 110);
    cursor: pointer;
}