.mainblock {
    width: 100%;
    display: flex;
    min-height: 400px;
    justify-content: center;
}

.profilediv {
    width: 1200px;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;



    -webkit-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.2);
}

.start {
    width: 30%;
    border-right: 0.25px solid rgba(128, 128, 128, 0.25);
}

.end {
    width: 70%;
}

@media only screen and (max-width: 480px) {
    .profilediv {
        flex-direction: column;
    }
    .start {
        width: auto;
        border: none;
        border-bottom: 0.25px solid rgba(128, 128, 128, 0.25);
        margin-top: 18px;
    }
    .end {
        width: auto;
    }
  }